body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(23, 32, 42); /* Updated background color */
    color: #000000; /* Default text color */
}

.container {
    width: 60%;
    margin: 50px auto;
    background-color: rgb(11, 83, 69); /* Space color */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

header {
    margin-bottom: 20px;
    background-color: rgb(115, 198, 182); /* Personal section background color */
    color: #000000; /* Black text */
    padding: 20px;
    border-radius: 8px 8px 0 0;
}

.personal-info {
    display: flex;
    align-items: center;
}

.personal-info img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
}

.info-text {
    flex: 1;
}

h1 {
    margin: 0;
    font-size: 2em;
    color: #000000; /* Black text for headings */
}

h2 {
    color: #ffffff; /* White text for other sections' headings */
}

p, ul {
    color: #ffffff; /* White text for other sections' content */
}
b{color: #000000;}

button { 
    margin-top: 20px;
    padding: 10px;
    font-size: 18px;
    color: #000000; /* Black text */ 
    background-color: rgb(115, 198, 182); /* Personal section background color */ 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
} 
button:hover { 
    background-color: rgb(115, 198, 182); /* Hover color for button */ 
    color: #ffffff; /* White text on hover */ 
}

.resume-preview {
    margin-top: 30px;
    padding: 20px;
    background-color: rgb(11, 83, 69); /* Space color */
    border-radius: 0 0 8px 8px;
    color: #000000; /* Black text */
}

.resume-preview p {
    font-size: 16px;
    margin: 10px 0;
}
